html, h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

html, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Motiva Sans Regular", "Helvetica Neue", "PT Sans Pro", Audrey, Helvetica, sans-serif;
  line-height: 27px;
}

* {
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: #f1f1f1;
  color: #2b2b2b;
  padding: 36px;
}

html, h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

html, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Motiva Sans Regular", "Helvetica Neue", "PT Sans Pro", Audrey, Helvetica, sans-serif;
  line-height: 27px;
}

ul,
ol,
dl {
  margin-bottom: 31.5px;
}

ul {
  margin-left: 4.5px;
  text-align: center;
  list-style: none;
}
ul li {
  margin-left: 9px;
  margin-right: 9px;
}
ul li:first-child {
  margin-left: 0;
}
ul li:last-child {
  margin-right: 0;
}

ol,
ul {
  margin-left: 31.5px;
}

li dl,
li ol,
li ul {
  margin-bottom: 2.25px;
}

dl {
  display: inline-block;
}

dt {
  padding: 0 18px;
}

dd {
  padding: 0 18px 4.5px;
}
dd:last-of-type {
  border-bottom: 1.08px solid #AAAAAA;
}
dd + dt {
  border-top: 1.08px solid #AAAAAA;
  padding-top: 9px;
}

html, h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

html, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Motiva Sans Regular", "Helvetica Neue", "PT Sans Pro", Audrey, Helvetica, sans-serif;
  line-height: 27px;
}

p,
blockquote {
  margin-bottom: 31.5px;
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 900px;
}

article {
  background: #fefefe;
  border: 1.8px solid #eaeaea;
  border-radius: 7.2px;
  padding: 36px;
}

header {
  margin-bottom: 36px;
}

footer {
  margin-top: 36px;
}

nav {
  text-align: center;
}

blockquote {
  border-left: 2.16px solid #AAAAAA;
  padding: 4.5px 18px 4.5px 15.84px;
}
blockquote footer {
  color: #AAAAAA;
  font-size: 13.5px;
  margin: 1.8px;
}

html, h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
}

html, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Motiva Sans Regular", "Helvetica Neue", "PT Sans Pro", Audrey, Helvetica, sans-serif;
  line-height: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
  margin: 18px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 27px;
  font-weight: 400;
}

h3 {
  font-size: 22.5px;
  font-weight: 300;
}

h4 {
  font-size: 19.8px;
  font-weight: 200;
}

h5 {
  font-weight: 200;
}

h6 {
  color: #b1b1b1;
  font-weight: 100;
}
