h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  font-variant: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Motiva Sans Regular", "Helvetica Neue", "PT Sans Pro", Audrey, Helvetica, sans-serif;
  line-height: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
  margin: 18px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 27px;
  font-weight: 400;
}

h3 {
  font-size: 22.5px;
  font-weight: 300;
}

h4 {
  font-size: 19.8px;
  font-weight: 200;
}

h5 {
  font-weight: 200;
}

h6 {
  color: #AAAAAA;
  font-weight: 100;
}
